extends template
block content
    div
        | Oops. You forgot your password
        br
        | to restore it follow the link
        div
            a(href=frontendUrl + `/password/reset/` + token) reset password
